<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>::: 장바구니(주문) 정보 목록 :::</title>

    <script type="text/javascript">
        // 상세보기로 가기..
        function goView(cart_no, cart_prod) {
            //alert(cart_no + " / " + cart_prod);
            url = "/oracle/cart_view/?";
            url = url + "cart_no="+cart_no+"&";
            url = url + "cart_prod="+cart_prod;
            //alert(url);
            location.href = url;
        }
        //장바구니 담기
        function goInsertForm(){
            location.href="/oracle/cart_insert_form/";
        }
    </Script>
</head>
<body>
    <h3>장바구니(주문) 정보 목록</h3>
    <button onclick="goInsertForm()">장바구니 담기</button>
    <hr/>
    <table border="1">
        <tr>
            <th>주문번호</th>
            <th>회원아이디</th>
            <th>상품코드</th>
            <th>주문수량</th>
        </tr>
        {% for cart in cart_list %}
        <tr>
            <td>
                <a href="javascript:goView('{{cart.cart_no}}', 
                                            '{{cart.cart_prod}}')">
                    {{ cart.cart_no }}
                </a>
            </td>
            <td>{{ cart.cart_member }}</td>
            <td>{{ cart.cart_prod }}</td>
            <td>{{ cart.cart_qty }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>