<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>::: 장바구니(주문) 상세페이지 :::</title>
</head>
<body>
    <h3>장바구니(주문) 상세페이지</h3>
    <table border="1">
        <tr>
            <th>주문번호</th>
            <th>상품코드</th>
            <th>주문수량</th>
        </tr>
        <tr>
            <th>{{cart_no}}</th>
            <th>{{cart_prod}}</th>
            <th>{{cart.cart_qty}}</th>
        </tr>
    </table>
</body>
</html>