<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>::: 07_css_js_img :::</title>

    <link rel="stylesheet" type="text/css"
            href="{% static '/firstapp/css/css.css' %}">
    <script type="text/javascript"
            src="{% static '/firstapp/js/js.js' %}"></script>
</head>
<body>
    <h3>css_js_img</h3>
    <p>
        css, javascript, image(강아지) 
        <br/>
        모두 추가해 주세요...
    </p>

    <button onclick="viewAlert()">Click...</button>

    <img src="{% static '/firstapp/images/dog01.jpg' %}">
</body>
</html>