<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>::: 광주 쇼핑몰 :::</title>
</head>
<body>
    <!-- 제목 -->
    <h3>{% include 'firstapp/include/top.html' %}</h3>
    <hr/>
    <!-- 네비게이션 -->
    <p>
        {% include 'firstapp/include/nav.html' %}
    </p>
    <hr/>
    <!-- 페이지 메인 내용 -->
    <p>
        <b>이곳은 메뉴별 메인 내용인 들어가는 곳입니다.!!!</b>
    </p>
    <hr/>
    <!-- 하단 -->
    <p>
        {% include 'firstapp/include/bottom.html' %}
    </p>
</body>
</html>